
<nav class='nav-extended'>
        <div class='nav-wrapper green lighten-2'>
            <div class='row'>
                <div class='col s12'>
                    <h6 class='nav-title font center-align'><img class='logo' src='/images/nature.png' alt='title logo plant'>   How's It Growing?</h6>
                    <ul id='nav-mobile' class='right'>
                        <li><a href='#'>logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div class='container font'>
        <div class='row'>
            <div class='col l1 hide-on-med-and-down'>

            </div>
            <div class='col l5 s6'>
                <div class='section'></div>
                <div class='section'></div>
               
                <h6>Hello {{user}}, how's it growing?</h6>
                
                <br>
                <h6>Time to check on those plants!</p>
            </div>
            <div class='col l5 s6'>
                <form action='submit' id='add-plant'>
                <div class='row'>
                    <div class='input-field'>
                        <input id='plant-type' type='text' class='validate'>
                        <label class='active' for='plant-name'>Plant Type</label>
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field'>
                        <input id='nick-name' type='text' class='validate'>
                        <label class='active' for='nick-name'>Nickname</label>
                    </div>
                </div>
                
                </form>
                <button class='btn green darken-2 waves-effect waves-light' data-id='{{id}}' id='addPlant-btn' type='submit' name='action'>Add Plant<i class='material-icons right'>spa</i></button>
            </div>
            <div class='col l1 hide-on-med-and-down'>
                
            </div>
        </div>
    </div>

    <div class='container font'>
        <div class='row'>

                    <div class='card'>
                        <div class='card-content center'>
                            <h5>My Plants</h5>
                        </div>
                        <div class='card-tabs'>
                            <ul class='tabs z-depth-1 tabs-fixed-width'>
                                {{#each plant}}
                                <li class='tab'><a class='active' href='#{{this.dataValues.nickName}}'>{{this.dataValues.nickName}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class='card-content grey lighten-4'>
                          <div class='row'>                           
                            <ul>                 
                              {{#each plant}}
                                <div id='{{this.dataValues.nickName}}'>
                                  <div class='col s6'>                     
                                      <p>Plant Type: {{this.dataValues.plantType}}</p>
                                      <hr>
                                      <p>Days to water:</p>
                                      <form id={{this.dataValues.id}} action=''>
                                          <p>
                                              <label>
                                                <input type='checkbox' name='sun-check' class='waterCheck' id='sun-check' for='sun-check'
                                                    {{#if this.dataValues.sunday}}  
                                                    checked='checked'
                                                    {{/if}}
                                                />
                                                <span>Sunday</span>
                                              </label>
                                          </p>
                                          <p>
                                              <label>
                                                <input type='checkbox' name='mon-check' class='waterCheck' id='mon-check' for='mon-check'
                                                    {{#if this.dataValues.monday}}  
                                                    checked='checked'
                                                    {{/if}}
                                                />
                                                <span>Monday</span>
                                              </label>
                                          </p>
                                          <p>
                                              <label>
                                                <input type='checkbox' name='tue-check' class='waterCheck' id='tue-check' for='tue-check'
                                                    {{#if this.dataValues.tuesday}}  
                                                    checked='checked'
                                                    {{/if}}
                                                />
                                                <span>Tuesday</span>
                                              </label>
                                          </p>
                                          <p>
                                              <label>
                                                <input type='checkbox' name='wed-check' class='waterCheck' id='wed-check' for='wed-check'
                                                    {{#if this.dataValues.wednesday}}  
                                                    checked='checked'
                                                    {{/if}}
                                                />
                                                <span>Wednesday</span>
                                              </label>
                                          </p>
                                          <p>
                                              <label>
                                                <input type='checkbox' name='thur-check' class='waterCheck' id='thur-check' for='thur-check'
                                                    {{#if this.dataValues.thursday}}  
                                                    checked='checked'
                                                    {{/if}}
                                                />
                                                <span>Thursday</span>
                                              </label>
                                          </p>
                                          <p>
                                              <label>
                                                <input type='checkbox' name='fri-check' class='waterCheck' id='fri-check' for='fri-check'
                                                    {{#if this.dataValues.friday}}  
                                                    checked='checked'
                                                    {{/if}}
                                                />
                                                <span>Friday</span>
                                              </label>
                                          </p>
                                          <p>
                                              <label>
                                                <input type='checkbox' name='sat-check' class='waterCheck' id='sat-check' for='sat-check'
                                                    {{#if this.dataValues.saturday}}  
                                                    checked='checked'
                                                    {{/if}}
                                                />
                                                <span>Saturday</span>
                                              </label>
                                          </p>
                                          <button data-id='{{this.dataValues.id}}' class='water-update btn green darken-2 waves-effect waves-light' id='waterUpdate-btn'>Update Watering Days<i class= 'material-icons right'>add</i></button>
                                          <br><hr>
                                          <p>Have you watered {{this.dataValues.nickName}} today?</p>
                                          <button data-watered={{this.dataValues.watered}} data-id='{{this.dataValues.id}}' class='watered btn green darken-2 waves-effect waves-light' name='action'>Watered?<i class='material-icons right'>opacity</i></button>
                                      </form>
                                  </div>
                                
                                  <div class='col s6'>
                                    <div class='row'>
                                      <div class='col s2'></div>
                                      <div class='col s10'>           
                                        <img class='watercan-icon plant-icon hidden' src='/images/farming-and-gardening.png' alt='watering can'
                                        {{#if this.dataValues.watered}}
                                        id='shown'
                                        {{/if}}
                                        >
                                      </div>
                                    </div>
                                    <div class='row'>
                                      <img class='plant-icon' src='/images/plant.png' alt='plant'>
                                    </div>
                                  </div>
                                </div>
                              {{/each}}
                            </ul>
                          </div>
                        </div>
                    </div>

        </div>
    </div>

    <div class='container'>
      <div class='row center'>
        <button class='btn green darken-2 waves-effect waves-light' type='submit' name='action'>Get Printable Schedule<i class='material-icons right'>send</i></button>
      </div>
    </div>








<div class='icon-attr'>Icons made by <a href='http://www.freepik.com/' title='Freepik'>Freepik</a> from <a href='https://www.flaticon.com/' title='Flaticon'>www.flaticon.com</a></div>
